<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- macros for generating the anatomical segments and joints for the articulating hand robot -->

    <xacro:macro name="box_link" params="name origin_xyz origin_rpy length width thickness material">
        <link name="${name}">
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <box size="${length} ${width} ${thickness}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
        </link>
    </xacro:macro>

    <xacro:macro name="sphere_link" params="name origin_xyz radius material">
        <link name="${name}">
            <visual>
                <origin xyz="${origin_xyz}"/>
                <geometry>
                    <sphere radius="${radius}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
        </link>
    </xacro:macro>

    <xacro:macro name="create_joint" params="name type origin axis parent child limit_lower limit_upper">
        <joint name="${name}" type="${type}">
            <origin xyz="${origin}"/>
            <parent link="${parent}"/>
            <child link="${child}"/>
            <axis xyz="${axis}"/>
            <limit lower="${limit_lower}" upper="${limit_upper}" effort="30" velocity="1.0"/>
        </joint>
    </xacro:macro>

</robot>
