# Libreoffice Writer docs
*.odt

# unneeded Arduino stuff
11_servos

# unnecessary laser cutter files
Laser_Cut/*.dxf
Laser_Cut/tolerance_test.svg
Laser_Cut/tolerance_test_v2.svg

# image files and stuff
*.svg
